<footer>
    <div class="flex">
        <div>
            <h2>Logo</h2>
            <p>La la la la la la la</p>
        </div>
        <div class="lists">
            <div>
                <p>More</p>
                <ul>
                    <li>Events</li>
                    <li>Places</li>
                    <li>Genres</li>
                    <li>Comments</li>
                </ul>
            </div>
            <div>
                <p>About Us</p>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>Google</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <p class="center">Not copirate and end yes true</p>
</footer>