h2{
    color: #e3a04a;
    font-size: 2em;
    text-align: center;
}
section{
    padding: 10px;
    color: #e3a04a;
    margin-bottom: 500px;
}
.navigation{
    background-color: rgb(246, 243, 243);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 3px 0.5px gray;
    color: #5f8f7f;
}

.remove{
    border: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: #e27767;
    color: white;
}
.remove:hover{
    background-color: #d93b3b;
}

.add{
    border: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: #5f8f7f;
    color: white;
}
.add:hover{
    background-color: #497f6d;
}
.mt-1{
    margin-top: 10px;
}