form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    padding: 50px 50px;

    background-color: white;
    box-shadow: 0px 0px 10px 5px #497f6d;
    border-radius: 10px;

    width: 40%;
    margin: 100px 0;
    color: #5f8f7f;
}

.add-place {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background: rgb(156, 194, 182);
    background: linear-gradient(180deg,
            rgba(156, 194, 182, 1) 0%,
            rgba(73, 127, 109, 1) 100%);
}

h2 {
    font-size: 3em;
    color: #edb874;
}

.input-cont,
.password-cont {
    display: flex;
    padding: 5px;
    border: 1px solid gray;
    align-items: center;
    gap: 5px;
    width: 100%;
    box-sizing: border-box;
}

.input-cont:focus {
    border: 2px solid #497f6d;
}

.password-cont {
    justify-content: space-between;
}

.password-cont>div {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

i {
    user-select: none;
}

.eye-icon {
    cursor: pointer;
}

input {
    border: 0;
    outline: 0;
    color: #497f6d;
    width: 100%;
}

input::placeholder {
    color: #5f8f7f;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    form {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    form {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    form {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    form {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    form {
        width: 100%;
        margin-top: 0;
        box-shadow: 0 0 0 0;
    }
}

button[type="submit"] {
    color: white;
    font-weight: bold;
    border: 0;
    background-color: #edb874;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #e3a04a;
}

button[type="submit"]:active {
    background-color: #de891c;
}

.hrs {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.hrs>div {
    width: 100%;
    border: 1px solid #9cc2b6;
    border-radius: 2px;
}

hr {
    color: #497f6d;
}

.position-top-1 {
    position: relative;
    top: -2px;
}

img {
    height: 100%;
}

.mb-0{
    margin-bottom: 0;
}
.error{
    color: #d93b3b;
    margin: 0;
}
.w-100{
    width: 100%;
}
textarea{
    width: 100%;
    border: 0;
    resize: vertical;
    color: #497f6d;
}
textarea:focus{
    outline: 0;
}
textarea::placeholder{
    color: #497f6d;
}
.icon{
    height: 20px;
    width: 20px;
    padding: 2px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #497f6d;
}