<section class="add-place">
    <form [formGroup]="placeForm" (ngSubmit)="sumbit()">
        <h2>Add Place</h2>
        <div class="inputs">

            <div class="w-100">
                <div class="input-cont">
                    <i class="material-icons" translate="no">title</i>
                    <input id="name" type="text" formControlName="name" placeholder="Name">
                </div>
                <div *ngIf="name.invalid && (name.touched)">
                    <p *ngIf="name.errors?.['required']" class="error">Name is required.</p>
                    <p *ngIf="name.errors?.['minlength']" class="error">Minimum length is 5</p>
                    <p *ngIf="name.errors?.['maxlength']" class="error">Maximum length is 300</p>
                </div>
            </div>

            <div class="w-100">
                <div class="input-cont">
                    <i class="material-icons" translate="no">description</i>
                    <textarea name="text" id="text" cols="30" rows="10" formControlName="text" placeholder="Description"></textarea>
                </div>
                <div *ngIf="text.invalid && (text.touched)">
                    <p *ngIf="text.errors?.['required']" class="error">Description is required.</p>
                    <p *ngIf="text.errors?.['minlength']" class="error">Minimum length is 10</p>
                    <p *ngIf="text.errors?.['maxlength']" class="error">Maximum length is 3000</p>
                </div>
            </div>

            <div class="w-100">
                <div class="input-cont">
                    <i class="material-icons" translate="no">map</i>
                    <input id="route" type="text" formControlName="route" placeholder="Route">
                </div>
                <div *ngIf="route.invalid && (route.touched)">
                    <p *ngIf="route.errors?.['required']" class="error">Route is required.</p>
                    <p *ngIf="route.errors?.['maxlength']" class="error">Maximum length is 300</p>
                </div>
            </div>

            <div class="w-100">
                <div class="input-cont">
                    <i class="material-icons" translate="no">preview</i>
                    <input id="site" type="url" formControlName="site" placeholder="Site">
                </div>
            </div>

            <div class="w-100">
                <div class="input-cont">
                    <img class="icon" src="assets/images/green-icons/facebook_green_icon.png" alt="facebook-icon">
                    <input id="facebook" type="url" formControlName="facebook" placeholder="Facebook">
                </div>
            </div>

            <div class="w-100">
                <div class="input-cont">
                    <img class="icon" src="assets/images/green-icons/instagram_green_icon.png" alt="facebook-icon">
                    <input id="instagram" type="url" formControlName="instagram" placeholder="Instagram">
                </div>
            </div>

            <div class="w-100">
                <div class="input-cont">
                    <i class="material-icons" translate="no">pin_drop</i>
                    <input id="googleMaps" type="url" formControlName="googleMaps" placeholder="Google maps">
                </div>
                <div *ngIf="googleMaps.invalid && (googleMaps.touched)">
                    <p *ngIf="googleMaps.errors?.['required']" class="error">Google Maps is required.</p>
                </div>
            </div>
            <div class="w-100">
                <app-genres-select (selectedGenreEvent)="addParent($event)" [placeholder]="placeholder" [selectedGenres]="selectedGenres"></app-genres-select>
            </div>
            <!--<div class="w-100">
                <app-add-images (addImageEvent)="addImage($event)"></app-add-images>
            </div>!-->
        </div>
        <button type="submit">Let's start</button>
    </form>
</section>